*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

@font-face{
    font-family: 'helvetica';
    src: url(Fonts/helvetica-rounded-bold-5871d05ead8de.otf) format('opentype');
}
html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    background: url(/Blogsbg.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.5em;
    padding: 1.3em 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0,1);
    backdrop-filter: blur(70px);
    z-index: -1;
}
.navbar a{
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5em;
}
#check{
    display: none;
}

.logo img{
    height: 2.5rem;
    width: 3rem;
    text-decoration: none;
    font-weight: 700;
    margin: none;

}

.nav-icon{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}
.close-icon{
    display: none;
}

hr{
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10px;
}

.Article-pic{
    Width: 100%;
    height: 35rem;
    margin-top: 10px;
    margin-bottom: 10px;
    
}



/*---About---*/

.img-about{
    width: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


/*---Why choose us---*/
.sectwhy{
    color: #fff;
    text-shadow: -1px 3px 2px #000000;
    font-size: 1.25rem;
    box-sizing: none;
}

.sectwhy h2{
    display: flex;
    align-items: center;
    margin: 10px;
    max-width: 100%;
    font-size: 1.4rem;

}

.sectwhy h3{
    display: flex;
    align-items: center;
    max-width: 100%;
    font-size: 1.2rem;
    
}

.whytext{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0,37);
    align-items: center;
    justify-content: center;
}

.head1{
    display: flex;
    align-items: center;
    margin: 10px;
    max-width: 100%;

}
.head1 h1{
    margin-left: 10px;
}

.text1{
    overflow: hidden;
    height: auto;
}

/*---Our services---*/

.sect3{
    color: #fff;
    text-shadow: -1px 3px 2px #000000;
    font-size: 1.25rem;
    box-sizing: none;
}

.img-os{
    width: 19rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ads{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0,37);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ads-items{
    align-items: center;
    justify-content: center;
}

.ads-items h2{
    font-size: 1.4rem;
}
.ads-head{
    display: flex;
    align-items: center;
    margin: 10px;
    max-width: 100%;

}
.ads-head h1{
    margin-left: 10px;
}
.ads-pic{
    max-width: 17em;
    float: right;
    
}
.ads-img{
    max-width: 17em;
    height: auto;
    padding: 3%;
}

.ads-text{
    float: left;
    overflow: hidden;
    max-width: 500px;
    height: auto;
}
.ads-text p{
    text-align: justify;
}

.blog-text{
    max-width: 17em;

}

.blog-text h2{
    font-size: 1.1rem;
    max-width: 17em;
}

/*--- Design part ---*/


.blogs{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0,37);
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-items{
    align-items: center;
    justify-content: center;
}

.blog-pic{
    position: relative;
    overflow: hidden;
    float: inline-start;
}

.blog-pic p{
    padding: 3%;
    
}

.blog-pic::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.blog-pic img{
    transition:  all 0.5s ease;
}

.blog-pic:hover img{
    transform: scale(1.2);
}

.blog-pic span:first-of-type{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: var(--exDark);
    color: #fff;
    padding: 0.25rem 1rem;
}

.blog-pic span:last-of-type{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
}
/*-- End--*/
/*-- Table--*/

table{
    width: 1000px;
    
}
th{
    text-align: left;
    padding: .5rem;
}
td{
    padding: .5rem;
}
table, th, td{
    border: 1px solid white;
}

/*--Final part--*/

.sect4{
    background: #1f1f1f;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    color: #fff;
    text-shadow: -1px 3px 2px #000000;
    font-size: 20px;
    text-align: center;
}

.all-end{
    display: block;
    text-align: center;
    padding: 30px;
}
.contact{
    margin: 50px;
}
.socials{
    display: flex;
    justify-content: center;

}
.socials a{
    padding-top: 0.25em;
    margin: 0 1em;
    color: #fff;
    background: #1f1f1f;
    height: 2em;
    width: 2em;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), -6px -6px 10px -1px rgba(255,255,255,0.7);
}

.socials a:hover{
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2), inset -4px -4px 6px -1px rgba(255,255,255,0.7),-0.5px -0.5px 0px rgba(255,255,255,1), 0.5px 0.5px 0px rgba(0,0,0,0.15), 0px 12px 10px -10px rgba(0,0,0,0.05);
}
.bottom{
    display: flex;
    width: 100%;
}
.copyright{
    padding: 1.25em;
    width: 50%;
    text-align: left;
}
.design{
    padding: 20px;
    width: 50%;
    text-align: right;
}

/*--BREAKPOINT--*/

@media screen and (max-width: 64em){

    .nav-icon{
        display: inline-flex;
    }
    #check:checked~.nav-icon .menu-icon{
        display: none;

    }
    .nav-icon .close-icon{
        display: none;
    }
    #check:checked~.nav-icon .close-icon{
        display: block;

    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, 0,1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0,1);
        overflow: hidden;
        transition: .3s ease;
    }
    #check:checked~.navbar{
        height: 17.7rem;

    }
    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease;
    }
    #check:checked~.navbar a{
        transform: translateY(0);

    }
    .partone{
        margin-top: 1em;
    }
    .sect1{
        margin: 2em;
  
    }
    .paragraph1 img{
        width: 20rem;
    }
    .sect1 p{
        font-size: 20px;
    }

    .Article-pic{
        height: 100%;
        
    }


    /*---.sect1 button{
        background-image: linear-gradient(to bottom right, #008cff, #e100ff);
    }---*/
    .about-text p{
        font-size: 20px;
        text-shadow: -1px 3px 2px #000000;
       
    }

    .container{
        min-width: 280px;

    }
    .user-input-box{
        margin-bottom: 12px;
        width: 100%;
    }
    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }
    
/*---about---*/
.img-about{
    max-width: 10em; 
}

    .about-text p{
        font-size: 0.8rem;
        padding: .5em; 
    }
/*---why choose us---*/

.whytext{
    margin-left: 1.25rem;
    margin-right: 1.25rem;    
}
.text1{
    font-size: .8rem;
    padding: 7%;
}
.text1 h1{
    font-size: 1.1rem;
}
.text1 h2{
    font-size: 1rem;
}
.text1 h3{
    font-size: .9rem;
}
/*---services---*/
    .ads{
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        
    }
    .ads-text{
        font-size: .8rem;
        padding: 7%;
    }
    .ads-pic{
        float: none; 
    }
    .ads-img{
        padding: 15%;
        max-width: 12em;
        height: auto;
    }
    .web{
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        
    }
    .web-text{
        font-size: .8rem;
        padding: 7%;
    }
    .web-img{
        padding: 15%;
        max-width: 12em;
        height: auto;
    }
    .content{
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        
    }
    .content-text{
        font-size: .8rem;
        padding: 7%;
    }
    .content-pic{
        float: none; 
    }
    .content-img{
        padding: 15%;
        max-width: 12em;
        height: auto;
    }
    .manage{
        margin-left: 1.25rem;
        margin-right: 1.25rem;
     
    }
    .manage-text{
        font-size: .8rem;
        padding: 7%;
    }
    .manage-img{
        padding: 15%;
        max-width: 12em;
        height: auto;
    }
        /*--Blog--*/
        .blog-pic img{
            padding: 0;
            max-width: 19em;
            height: auto;
        }
        .blog-pic{
            font-size: .8rem;
            padding: 7%;
        }
        .blog-pic span{
            font-size: .8rem;
            padding-top: 7%;
        }

    /*-- Table--*/

table{
    width: 17rem;
    font-size: .3rem;
    
}
th{
    text-align: left;
    padding: .2rem;
}
td{
    padding: .2rem;
}
table, th, td{
    border: 1px solid white;
}
      /*--Founder--*/
    .founder{
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        
    }
    .founder-text{
        font-size: .8rem;
        padding: 7%;
    }

    /*--submit form--*/


    .container{
        max-width: 20.6em;
    
    }
    .form-title{
        font-size: 1em;
    }
    .user-input-box{
        padding-bottom: 0;
    }
    .user-input-box label{
        font-size: 1em;
    }
    .form-submit-btn{
        margin: 0;
    }
    /*--Final part--*/

    .bottom{
        font-size: .5em;
        width: 100%;
    }
    .copyright{
        width: 50%;
    }
    .design{
        width: 50%;
    }
    .bottom-text p{
        font-size: .8rem;
        padding: 7%;
    }


}


